@model FoodyTekmerEntityLayer.Concrete.Product
@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Ürün Güncelleme Sayfasıi</h1>

<form method="post">
    <label>Ürün ID</label>
    <input type="text" class="form-control" asp-for="Name" style="border:solid" />
    <br />
    <label>Ürün Görsel Url</label>
    <input type="text" class="form-control" asp-for="ImageUrl" style="border:solid" />
    <br />
    <label>Ürün Eski Fiyatı</label>
    <input type="text" class="form-control" asp-for="OldPrice" style="border:solid" />
    <br />
    <label>Ürün</label>
    <input type="text" class="form-control" asp-for="NewPrice" style="border:solid" />
    <br />
    <button class="btn btn-info">Ürünü Güncelleme</button>




</form>
